services:
  namenode:
    image: bde2020/hadoop-namenode:latest
    container_name: namenode
    ports:
      - "9870:9870"
      - "9000:9000"
    environment:
      - CLUSTER_NAME=hadoop-cluster
    volumes:
      - namenode:/hadoop/dfs/name
      - ./data:/data
      - ./init:/etc/bootstrap.sh.d
      - ./omega-hadoop/target/omega-hadoop-jar-with-dependencies.jar:/app.jar:ro
    env_file:
      - ./hadoop.env

  datanode:
    image: bde2020/hadoop-datanode:latest
    container_name: datanode
    ports:
      - "9864:9864"
    volumes:
      - datanode:/hadoop/dfs/data
    env_file:
      - ./hadoop.env
    depends_on:
      - namenode

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:latest
    container_name: resourcemanager
    ports:
      - "8088:8088"   # YARN UI
    env_file:
      - ./hadoop.env
    depends_on:
      - namenode

  nodemanager:
    image: bde2020/hadoop-nodemanager:latest
    container_name: nodemanager
    env_file:
      - ./hadoop.env
    depends_on:
      - resourcemanager

volumes:
  namenode:
  datanode:
